@import '../../node_modules/bootstrap/scss/functions';

// overwrite Bootstrap variables
@import './base/variables';

// required Bootstrap stylesheets
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';

// required Bootstrap components
@import '../../node_modules/bootstrap/scss/root';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/transitions';
@import '../../node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules//bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/spinners';

// Bootstrap icons
$bootstrap-icons-font-src: url('../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2')
    format('woff2'),
  url('../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff')
    format('woff');
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

// Base
@import './base/typography';
@import './base/mixin';
@media (min-width: 991px) {
  /* Increase the font size for all text */
  body {
    font-size: 1.2em; /* Adjust the value as needed */
  }

  /* Increase the size of specific elements */
  h1 {
    font-size: 2.5em; /* Adjust the value as needed */
  }

  p {
    font-size:25px; /* Adjust the value as needed */
  }

  /* Add more elements as needed */
}


html {
  scrollbar-color: var(--bs-accent) transparent;
  font-size: 16px;

  @include media($bp-md) {
    font-size: 17px;
  }

  @include media($bp-xxl) {
    font-size: 18px;
  }
  $screen-md: 991px;

  // CSS for container and curtain when screen width is <= 991px
  @media (max-width: $screen-md) {
    
      flex-direction: column;
      align-items: center;
      
  }

}

body {
  @include font-primary;
  color: var(--bs-secondary);
  background: var(--bs-primary);
}
.hero{
      // Define variables for ease of use
    $screen-md: 357px;

    // CSS for container and curtain when screen width is <= 991px
    @media (max-width: $screen-md) {
      .container {
        flex-direction: column;
        align-items: center;
      }

      .curtain {
        transform: translateY(0%);
      }
}

}
#root {
  max-width: 100vw;
  // position: relative;
  overflow-x: hidden;
}

input,
textarea {
  background: transparent !important;
  color: var(--bs-secondary) !important;
}

// Components
@import './components/header';
@import './components/hero';
@import './components/about';
@import './components/portfolio';
@import './components/contact';
@import './components/footer';
@import './components/themesToggler';
